//Colres
$Blanco: #f2f0ed;
$Negro: #0d0d0d;
$Transparente: rgba(0, 0, 0, 0);
//Colres DefaultColor 
    $Principal: #f8f4e8;
    $Secundario: #2b2929;
    $Resalte: #dbd8cc;
    $Fondo: #2b2929; 
    $Texto: #2b2929;
    
///ipos de letra
@font-face {
    font-family: 'Null';
    src: url(/fonts/Null.otf);
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'OpenSauceOne';
    src: url(/fonts/opens/OpenSauceOne-Black.ttf);
    font-style: normal;
    font-weight: normal;
  }

//Letra
$Letra1: 'Null';
$Letra2: 'OpenSauceOne';
