@import "carga";
@import "animaciones";
@import "cursor";
@import "variables";

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0px;
}

@mixin cover {
  width: 100%;
  height: 100%;
}

@mixin opacity {
  opacity: 50%;
  scale: 0.9;
}
@mixin contorno {
  text-shadow: 4px 4px 0 $Principal, -4px 4px 0 $Principal,
    -4px -4px 0 $Principal, 4px -4px 0 $Principal;
}

@mixin contorno2 {
  text-shadow: 2px 2px 0 $Principal, -2px 2px 0 $Principal,
    -2px -2px 0 $Principal, 2px -2px 0 $Principal;
}
.log_letra {
  cursor: pointer;
  @include contorno2;
  transition: all 0.3s ease-in-out;
}
.log_letra:hover {
  color: $Resalte;
}
.ocultar {
  animation: backOutUp 0.5s ease-in-out forwards;
  border-radius: 5vw;
}
body {
  background-color: $Fondo;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  #home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: $Principal;
    align-items: center;
    position: fixed;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
    .view_cont {
      width: 40%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .view_log {
        width: 100%;
        height: 85%;
        z-index: 50;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: $Letra1;
        color: $Texto;
        .log_letras {
          width: 100%;
          height: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          .log_letra {
            cursor: pointer;
            @include contorno;
            transition: all 0.3s ease-in-out;
          }
          .log_letra:hover {
            color: $Resalte;
          }
          #log_letra_1 {
            font-size: 18vh;
          }
          #log_letra_2 {
            font-size: 13vh;
            margin-left: -1.3vw;
            margin-top: -3vh;
          }
          #log_letra_3 {
            font-size: 13vh;
            margin-left: -1.3vw;
            margin-top: 3vh;
          }
          #log_letra_4 {
            font-size: 13vh;
            margin-left: -0.5vw;
            margin-top: 2vh;
          }
        }
        #log_letra_7 {
          font-size: 1.2vh;
          font-family: $Letra2;
          letter-spacing: 0.25em;
        }
      }
      .view_ghost {
        width: 10%;
        height: 20%;
        z-index: 1;
        margin-bottom: 13%;
        margin-right: 17%;
        position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        animation: moverGhost 8s ease-in-out infinite;
      }
      .view_btn {
        width: 100%;
        height: 10%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn_view {
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          border: none;
          padding: 0;
          margin: 0;
          background-color: $Texto;
          background-size: 90%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("../img/Logos/interfaces/icons/no_mostrar.svg");
          transition: all 0.3s ease-in-out;
          &:hover {
            background-image: url("../img/Logos/interfaces/icons/mostrar.svg");
          }
        }
      }
    }
    #audio {
      display: none;
    }
  }
  header {
    width: 8vw;
    margin: 1vw;
    height: 80vh;
    border-radius: 2vw;
    background-color: $Principal;
    nav {
      width: 100%;
      height: 100%;
      .logo {
        .view_cont {
          width: 100%;
          height: 30%;
          margin-top: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .view_log {
            width: 100%;
            height: 85%;
            z-index: 50;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: $Letra1;
            color: $Texto;
            .log_letras {
              width: 100%;
              height: 70%;
              display: flex;
              justify-content: center;
              align-items: center;
              #log_letra_1 {
                font-size: 8vh;
              }
              #log_letra_2 {
                font-size: 5vh;
                margin-left: -0.5vw;
                margin-top: -2vh;
              }
              #log_letra_3 {
                font-size: 5vh;
                margin-left: -0.5vw;
                margin-top: 1vh;
              }
              #log_letra_4 {
                font-size: 5vh;
                margin-left: -0.3vw;
                margin-top: 0vh;
              }
            }
            #log_letra_7 {
              font-size: 0.7vh;
              font-family: $Letra2;
              letter-spacing: 0.25em;
            }
          }
          .view_ghost {
            width: 5%;
            height: 10%;
            z-index: 1;
            margin-bottom: 5%;
            margin-right: 9%;
            position: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            animation: moverGhost 8s ease-in-out infinite;
          }
        }
      }
      ul {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
        display: flex;
        margin-top: 35%;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        li {
          width: 90%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            width: 100%;
            height: 100%;
            display: flex;
            background-color: $Transparente;
            border: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p {
              transform: rotate(-15deg);
              font-family: $Letra2;
              color: $Texto;
              font-size: 0.8vw;
              text-align: center;
              margin: 2%;
              transition: all 0.2s ease-in-out;
            }
            .line_nav {
              transform: rotate(-15deg);
              width: 90%;
              height: 5px;
              transition: all 0.3s ease-in-out;
              display: flex;
              scale: 0;
              justify-content: center;
              align-items: center;
              border-radius: 2vw;
              background-color: $Resalte;
            }
          }
        }
        li:hover {
          button {
            p {
              font-size: 1vw;
            }
            .line_nav {
              scale: 1;
            }
          }
        }
      }
    }
  }
  main {
    width: 90vw;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    .pages {
      animation: fadeInDown 0.3s ease-in-out forwards;
      @include cover;
      justify-items: center;
      align-items: center;
      justify-content: center;
      align-items: center;
      display: none;
    }
    #pag1 {
      .pag_cont {
        width: 100%;
        height: 90%;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        .proyecto {
          width: 90%;
          height: 85%;
          border-radius: 1vw;
          overflow: hidden;
          display: flex;
          background-color: $Resalte;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .proyecto_img {
            width: 100%;
            height: 80%;
            img {
              @include cover;
            }
          }
          .proyecto_info {
            width: 100%;
            height: 20%;
            display: flex;
            background-color: $Principal;
            justify-content: space-between;
            align-items: center;
            .proyecto_info_text {
              width: 70%;
              height: 100%;
              display: flex;
              justify-content: start;
              align-items: start;
              flex-direction: column;
              span {
                font-family: $Letra2;
                margin: 2%;
                color: $Texto;
                font-size: 2vh;
              }
              .proyecto_info_skills {
                width: 50%;
                height: 35%;
                margin: 2%;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 5%;
                img {
                  height: 100%;
                }
              }
            }
            .proyecto_links {
              width: 30%;
              height: 100%;
              display: flex;
              justify-content: end;
              align-items: center;
              gap: 10%;
              padding: 5%;
              a {
                height: 30%;
                transition: all 0.3s ease-in-out;
                img {
                  @include cover;
                }
                &:hover {
                  filter: brightness(120%);
                }
              }
            }
          }
        }
      }
    }
    #pag2 {
      .pag2_cont {
        width: 100%;
        height: 85%;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        gap: 3%;
        .pag2_opciones {
          width: 95%;
          height: 31.33%;
          border-radius: 1vw;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: $Principal;
          span {
            font-family: $Letra2;
            color: $Texto;
            font-size: 2vh;
            margin-bottom: 2%;
          }
          .pag2_opciones_img {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            div {
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              img {
                height: 100%;
              }
              p {
                opacity: 0;
                visibility: hidden;
                width: auto;
                font-family: $Letra2;
                color: $Fondo;
                font-size: 1.5vh;
                text-align: center;
                position: absolute;
                padding: 3% 8%;
                margin: 0;
                background-color: $Resalte;
                border-radius: 1vw;
                top: -5vh;
                transition: all 0.3s ease-in-out;
              }
              &:hover {
                p {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
    #pag3 {
      .pag3_cont {
        width: 95%;
        height: 95%;
        background-color: $Principal;
        border-radius: 2vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .cont_dispositivo {
          width: 20%;
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.2s ease-in-out;
          .web {
            @include cover;
            border-radius: 1vw;
          }
        }
        .cont_opcion {
          width: 25%;
          height: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 2%;
          background-color: $Resalte;
          border-radius: 1vw;
          .dispositivo {
            width: 95%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;
            button {
              width: 50%;
              height: 90%;
              display: flex;
              background-color: $Principal;
              border: none;
              border-radius: 2vw;
              padding: 0;
              justify-content: center;
              align-items: center;
              color: $Fondo;
              transition: all 0.2s ease-in-out;
              span {
                @include cover;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $Transparente;
                font-family: $Letra2;
                font-size: 1vw;
                letter-spacing: 0.2vw;
              }
              &:hover {
                background-color: $Fondo;
                color: $Principal;
              }
            }
          }
          .webs {
            width: 90%;
            height: 80%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: start;
            gap: 5%;
            padding: 5%;
            overflow-x: hidden;
            overflow-y: scroll;
            button {
              width: 100%;
              height: 4.5vh;
              display: flex;
              background-color: $Principal;
              border: none;
              border-radius: 2vw;
              padding: 0;
              justify-content: center;
              align-items: center;
              color: $Fondo;
              transition: all 0.2s ease-in-out;
              span {
                @include cover;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $Transparente;
                font-family: $Letra2;
                font-size: 0.7vw;
                letter-spacing: 0.2vw;
              }
              &:hover {
                background-color: $Fondo;
                color: $Principal;
              }
            }
          }
        }
        .style_telefono {
          width: 20%;
          height: 80%;
        }
        .style_pc {
          width: 65%;
          height: 65%;
        }
      }
    }
    #pag4 {
      .nav_contacto {
        width: 5%;
        height: 25%;
        background-color: $Principal;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 1vw;
        gap: 2%;
        button {
          width: 100%;
          height: 20%;
          display: flex;
          background-color: $Transparente;
          border: none;
          padding: 0;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          img {
            height: 70%;
          }
        }
        button:hover {
          @include opacity;
        }
      }
      .nav_cont {
        width: 50%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 5%;
        border-radius: 1vw;
        .nav_cont_contacto {
          width: 100%;
          height: 100%;
          display: none;
          justify-content: center;
          background-color: $Principal;
          align-items: center;
          border-radius: 1vw;
          flex-direction: column;
          div {
            width: 40%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $Resalte;
            transition: all 0.3s ease-in-out;
            border-radius: 1vw;
            a {
              width: 100%;
              height: 100%;
              display: flex;
              text-decoration: none;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              span {
                height: 45%;
                font-family: $Letra2;
                color: $Texto;
                letter-spacing: 0.2rem;
                font-size: 1.5vh;
                display: flex;
                align-items: center;
                img {
                  height: 80%;
                  display: flex;
                  align-items: center;
                }
              }
            }
            &:hover {
              @include opacity;
            }
          }
        }
        .agregar_dis {
          display: flex;
        }
      }
    }
    .agregar_dis {
      display: flex;
    }
  }
}
